{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'network/logo.png' %}">

        <!-- font-awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

        <!-- Google Fonts Ubuntu --> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">  
        
        {% block script %}
        {% endblock %}
    </head>
    
    <body class="d-flex flex-column min-vh-100">

        <nav class="navbar navbar-expand-lg bg-white justify-content-center">
          
            <div>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link text-info" href="{% url 'index' %}"><img src="{% static 'network/logo-nobg-xs.png' %}" class="logonav"></a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-info px-3" href="{% url 'profile' user.username %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-info px-3" href="{% url 'allposts' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-info px-3" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info px-3" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-info px-3" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info px-3" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
        </nav>
       
        <div class="body mb-5">
            {% block body %}
            {% endblock %}
        </div>

        <footer class="text-info text-center small mt-auto pt-4">Network &#169; 2021</footer>
    </body>
</html>