{% extends "network/layout.html" %}

{% block body %}

    <div class="container mt-5 pt-3 text-center">
        <h2 class="text-info mb-3">Register</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control loginout" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control loginout" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control loginout" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control loginout" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-info" type="submit" value="Register">
        </form>

        <p class="text-secondary">Already have an account? <a href="{% url 'login' %}" class="text-info">Log In here.</a></p>
    </div>

{% endblock %}